.quote {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: 48px;
}

.main-header {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    font-size: 72px;
    border-radius: 71px 71px 71px 71px;
}

    .game-input {
        font-family: 'Orbitron', sans-serif;
        font-weight: 400;
        font-size: 42px;
       color: black;
        
        
    }

    .game-search-btn {
        font-family: 'Orbitron', sans-serif;
        font-weight: 400;
        font-size: 24px;
        text-shadow: 1px 1px 2px rgba(255, 251, 0, 0.575), 0 1 1em #392a8d6e, 0 0 0.4em #a711b8;
        
    }
/* styling for achievement box */
    .achievement-box {
        font-family: 'Orbitron', sans-serif;
        font-weight: 400;
        font-size: 18px;
        background-color:#392a8d6e;
        margin: 10px;
        color: #74cc2b;
    }
    /* styling for content inside achievement box */
    .achievement-name {
        font-family: 'Orbitron', sans-serif;
        font-weight: 400;
        font-size: 18px;
        margin: 10px;
        color: #74cc2b;

    }


h1 {
    text-shadow: #FC0 1px 0 10px;
}



p, button {
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    color: #EE61FF;
}


.game-img {
    border-radius: 5px;
}

.game-title {
    border-radius: 5px;
}

.mycard {
    margin: 10px;
    border-radius: 10px;
  }

#search-button:hover {
    cursor: pointer;
}

#search-button:active {
 
    background-color: #fff;
  
    box-shadow: 0px 0px 12px 10px #74cc2b;
}

.hover-action:hover {
    background-color: #3b3b5f;
    color: #74cc2b;
    cursor: pointer;
    box-shadow: 0px 0px 12px 10px #74cc2b;
}

.hover-action-2:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px #EE61FF;

}

